Repository nabaztag2018/pynab, pull requests merged in 2021-06, with the labels that each got.

#259 Revamp system information and upgrade pages
  nabweb/locale/fr_FR/LC_MESSAGES/django.po
  nabweb/templates/nabweb/system-info/index.html
  nabweb/templates/nabweb/upgrade/index.html
  nabweb/views.py
Labels: Translations, web

#262 Revert "Revamp system information and upgrade pages"
  nabweb/locale/fr_FR/LC_MESSAGES/django.po
  nabweb/templates/nabweb/system-info/index.html
  nabweb/templates/nabweb/upgrade/index.html
  nabweb/views.py
Labels: Translations, web

#263 Revamp system information and upgrade pages
  nabweb/locale/fr_FR/LC_MESSAGES/django.po
  nabweb/templates/nabweb/system-info/index.html
  nabweb/templates/nabweb/upgrade/index.html
  nabweb/views.py
Labels: Translations, web

#266 Review/amend logging calls level. Set default logging level to INFO
  nab8balld/nab8balld.conf
  nab8balld/nab8balld.service
  nabairqualityd/aqicn.py
  nabairqualityd/nabairqualityd.conf
  nabairqualityd/nabairqualityd.py
  nabairqualityd/nabairqualityd.service
  nabbookd/nabbookd.conf
  nabbookd/nabbookd.py
  nabbookd/nabbookd.service
  nabclockd/nabclockd.conf
  nabclockd/nabclockd.py
  nabclockd/nabclockd.service
  nabcommon/nablogging.py
  nabcommon/nabservice.py
  nabd/choreography.py
  nabd/nabd.conf
  nabd/nabd.py
  nabd/nabd.service
  nabd/rfid_dev.py
  nabmastodond/nabmastodond.conf
  nabmastodond/nabmastodond.service
  nabsurprised/nabsurprised.conf
  nabsurprised/nabsurprised.service
  nabtaichid/nabtaichid.conf
  nabtaichid/nabtaichid.service
  nabweatherd/nabweatherd.conf
  nabweatherd/nabweatherd.py
  nabweatherd/nabweatherd.service
  nabweatherd/views.py
Labels: Service : Nab, Service: 8ball, Service: Air Quality, Service: Book, Service: Clock, Service: Mastodon, Service: Surprise, Service: Tai chi, Service: Weather, common

#268 Cleanup unhandled exceptions handling to avoid polluting system logs with tracebacks
  nabairqualityd/aqicn.py
  nabcommon/nabservice.py
  nabweatherd/nabweatherd.py
Labels: Service: Air Quality, Service: Weather, common

#272 Cleanup underlying git commands for nabweb Upgrade page
  nabweb/templates/nabweb/upgrade/_repository.html
  nabweb/views.py
Labels: web

#274 Complete label list for PR Labeler workflow
  .github/labeler.yml
Labels: Environment

#269 Cleanup macOS leftovers from Pynab image
  README.md
  setup
Labels: Documentation

#276 Move from daily to weekly rotation for Pynab logs
  install.sh
  upgrade.sh
Labels: Setup

#280 Fix Upgrade page crash when date was not set for 'Last check'.
  nabweb/views.py
Labels: web

#277 setup: make sure shallow clone is generated with adequate branch
  setup
Labels: Setup

#281 setup: Cleanup caches
  setup
Labels: Setup

#271 Use raspios_lite:2021-05-07 base image
  .github/workflows/arm-runner.yml
  .github/workflows/nightly.yml
  .github/workflows/python-lint.yml
  .github/workflows/tests.yml
Labels: Environment
