Repository nabaztag2018/pynab, pull requests merged in 2022-11, with the labels that each got.

#417 nabd: allow running without TagTagTag card
  nabd/nabio.py
  nabd/nabio_hw.py
  nabd/sound_alsa.py
Labels: Service : Nab

#414 nabclockd: handle ASR 'clock' requests
  nabclockd/nabclockd.py
Labels: Service: Clock

#433 Fix some CodeQL alerts
  nabmastodond/nabmastodond.py
  nabweatherd/nabweatherd.py
Labels: Service: Weather, Service: Mastodon

#435 Fix 1.0.1 upgrade issue
  .github/workflows/test-upgrade.yml
  nabweb/views.py
Labels: web, Environment

#439 Upgrade GitHub workflows to new GitHub requirements & add missing labels for PR labeler workflow
  .github/labels.yml
  .github/workflows/arm-runner.yml
  .github/workflows/labeler.yml
  .github/workflows/tests.yml
Labels: Environment
