Repository nabaztag2018/pynab, pull requests merged in 2022-06, with the labels that each got.

#346 Bump to 0.7.3 to fix bug where incorrect tag was written
  requirements.txt
Labels: Setup

#347 Wait for removal of written tag
  nabd/rfid_nfc_dev.py
Labels: Service : Nab

#349 Reboot to switch between RFID cards
  nabboot/nabboot.py
  requirements.txt
Labels: boot, Setup

#328 Cleanup services startup
  nabclockd/nabclockd.py
  nabd/nabd.service
Labels: Service: Clock, Service : Nab

#350 Fix RFID card detection heuristic
  nabboot/nabboot.py
Labels: boot

#334 Install Pynab (and drivers) in /opt directory
  .github/workflows/arm-runner.yml
  CONTRIBUTING.md
  Docker/README.md
  Docker/docker-compose.yml
  Docker/nab/Dockerfile
  Docker/nab/run-inits.sh
  Docker/nab/run-service.sh
  Docker/nab/run-webserver.sh
  install.sh
  nab8balld/nab8balld.service
  nabairqualityd/nabairqualityd.service
  nabbookd/nabbookd.service
  nabboot/nabboot.py
  nabboot/nabboot.service
  nabclockd/nabclockd.service
  nabd/nabd.service
  nabiftttd/nabiftttd.conf
  nabiftttd/nabiftttd.service
  nabmastodond/nabmastodond.service
  nabsurprised/nabsurprised.service
  nabtaichid/nabtaichid.service
  nabweatherd/nabweatherd.service
  nabweb/nabweb-boot.service
  nabweb/nabweb.service
  nabweb/nginx-site.conf
  setup
  upgrade.sh
Labels: Service: Air Quality, web, Service: Weather, Service: Clock, boot, Service: 8ball, Documentation, Environment, Service: Book, Service : Nab, Service: Mastodon, Service: Surprise, Service: Tai chi, Setup, Docker environment

#352 Add NFC driver to upgrade page
  nabweb/templates/nabweb/upgrade/index.html
  nabweb/views.py
Labels: web

#354 Start nabd first with start_all
  nabd/management/commands/_start_stop_all.py
Labels: Service : Nab

#355 Fix location data type and migration
  nabairqualityd/migrations/0008_alter_config_localisation.py
  nabairqualityd/models.py
  nabairqualityd/nabairqualityd.py
  nabweatherd/migrations/0014_alter_config_location.py
  nabweatherd/models.py
  nabweatherd/nabweatherd.py
  nabweatherd/tests/nabweatherd_test.py
  nabweatherd/tests/nabweatherd_views_test.py
  nabweatherd/views.py
Labels: Service: Air Quality, Service: Weather

#357 Update pynfcdev for fix in tag removal logic
  requirements.txt
Labels: Setup

#358 Fix translations of upgrade page (broken by 26f80e09)
  nabweb/locale/fr_FR/LC_MESSAGES/django.po
  nabweb/templates/nabweb/upgrade/index.html
Labels: web, Translations

#356 Sleep and wakeup tags
  nabclockd/__init__.py
  nabclockd/migrations/0004_config_sleep_wakeup_override.py
  nabclockd/models.py
  nabclockd/nabclockd.py
  nabclockd/rfid_data.py
  nabclockd/templates/nabclockd/rfid-data.html
  nabclockd/tests/nabclockd_test.py
  nabclockd/urls.py
  nabclockd/views.py
  nabcommon/nabservice.py
  nabd/rfid.py
  pyproject.toml
  requirements.txt
Labels: Service: Clock, Environment, common, Service : Nab, Setup

#361 Fix identification bug
  nabd/nabio.py
Labels: Service : Nab

#362 Fix upgrade script and add test upgrade procedure
  .github/workflows/test-upgrade.yml
  install.sh
Labels: Environment, Setup

#363 Fix upgrade script on Pi Zero 2
  install.sh
Labels: Setup

#359 Simplify CI, build less images
  .github/workflows/arm-runner.yml
  .github/workflows/python-lint.yml
  .github/workflows/tests.yml
  requirements.txt
Labels: Environment, Setup

#364 Uninstall py-kaldi-asr as it is binary incompatible
  install.sh
Labels: Setup

#365 Disable st25 driver
  setup
Labels: Setup

#367 Disable chiming for wakeup/sleep tests
  nabclockd/tests/nabclockd_test.py
Labels: Service: Clock

#368 Fix obsolete Django gettext reference
  nabweb/settings.py
Labels: web

#370 Enable i2c-dev
  setup
Labels: Setup

#372 Fix ST25R reporting in nabweb
  nabd/nabio_hw.py
Labels: Service : Nab

#369 Disable IPv6 in chroot environment for running test and installation
  .github/workflows/arm-runner.yml
Labels: Environment

#373 Only process tags in idle mode (fix #353, #360)
  nabweb/views.py
Labels: web

#374 Fix upgrade and improve automated testing of upgrades
  .github/workflows/test-upgrade.yml
  .github/workflows/tests.yml
  install.sh
  nabclockd/tests/nabclockd_test.py
  nabd/tests/asr_test.py
Labels: Service: Clock, Environment, Service : Nab, Setup

#375 Fix crash when no RFID card is plugged in
  install.sh
  nabboot/nabboot.py
  nabd/nabio.py
  setup
Labels: boot, Service : Nab, Setup

#382 Fix yet another nabclockd test
  nabclockd/tests/nabclockd_test.py
Labels: Service: Clock

#381 Acknowledge B311 warnings
  nabd/choreography.py
  nabd/resources.py
  nabsurprised/nabsurprised.py
  nabweatherd/nabweatherd.py
Labels: Service: Weather, Service : Nab, Service: Surprise

#380 Stream MP3s over HTTP & HTTPS
  nabd/sound.py
  nabd/sound_alsa.py
  nabd/tests/sound_alsa_test.py
Labels: Service : Nab

#379 Add some types
  nabd/button_gpio.py
  nabd/leds_neopixel.py
  nabd/sound_alsa.py
Labels: Service : Nab

#377 Docker env: keep requirements.txt in sync
  Docker/nab/requirements.txt
Labels: Docker environment

#376 Disable SSH (fix #351)
  setup
Labels: Setup

#390 Fix mess of upgrade page (fix #388)
  nabweb/templates/nabweb/upgrade/index.html
Labels: web

#391 Add interactive mode exit tests
  nabd/tests/nabd_test.py
Labels: Service : Nab

#392 Build on tags and trigger
  .github/workflows/arm-runner.yml
Labels: Environment

#398 Avoid duplicated Docker's requirements.txt
  .dockerignore
  Docker/docker-compose.yml
  Docker/nab/Dockerfile
  Docker/nab/requirements.txt
Labels: Docker environment

#401 Improve test upgrade script
  .github/workflows/test-upgrade.yml
Labels: Environment

#396 Add types and uniformize events and error packets
  .github/workflows/tests.yml
  nab8balld/nab8balld.py
  nabbookd/nabbookd.py
  nabboot/nabboot.py
  nabclockd/nabclockd.py
  nabcommon/nabservice.py
  nabcommon/typing.py
  nabd/asr.py
  nabd/nabd.py
  nabd/nabio.py
  nabd/nlu.py
  nabd/rfid.py
  nabd/rfid_dev.py
  nabd/rfid_nfc_dev.py
  nabd/rfid_virtual.py
  nabd/sound_virtual.py
  nabd/tests/__init__.py
  nabd/tests/choreography_test.py
  nabd/tests/nabd_test.py
  nabd/tests/sound_alsa_test.py
  nabmastodond/nabmastodond.py
  nabmastodond/tests/nabmastodond_test.py
  nabmastodond/views.py
  nabsurprised/nabsurprised.py
  nabtaichid/nabtaichid.py
  nabweatherd/nabweatherd.py
  nabweb/urls.py
  pyproject.toml
  requirements.txt
Labels: web, Service: Weather, Service: Clock, boot, Service: 8ball, Environment, Service: Book, common, Service : Nab, Service: Mastodon, Service: Surprise, Service: Tai chi, Setup

#402 Fetch tags (fix #400)
  nabweb/views.py
Labels: web
