Repository nabaztag2018/pynab, pull requests merged in 2024-05, with the labels that each got.

#467 Fix CI by updating kaldi binary and install script
  .github/workflows/tests.yml
  requirements.txt
Labels: Environment, Setup

#469 Cache pip dependencies for tests
  .github/workflows/tests.yml
Labels: Environment

#470 Update sqlparse
  .github/workflows/tests.yml
  requirements.txt
Labels: Environment, Setup

#456 nabweb: Upgrade page Version: always show commit even if no tags
  nabweb/views.py
Labels: web

#451 setup: Mark Pynab Git repositories as "safe directories" for Git commands
  setup
Labels: Setup

#457 nabboot: support kernel 6.x
  nabboot/nabboot.py
Labels: boot

#475 setup: remove kernel rollback patch
  setup
Labels: Setup
